* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1320px;
  height: 100%;
}

main {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100vh;
}

.flex-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drumpad-section {
  transition: 0.3s all ease;
  background: radial-gradient(circle, #464646 0%, #000000 100%);
  width: 100%;
  height: 100%;
}

.drumpad {
  transition: 0.5s all ease;

  position: relative;
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgb(159 159 159) 0%,
    rgb(197 196 195) 74%,
    rgb(140 140 140) 100%
  );
  border: 3px outset #66635d;
  width: 600px;
  height: 400px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drumpad__pad-section {
  padding: 5px;
  border: 3px solid #5d5c59;
  border-radius: 5px;
  display: grid;
  width: 400px;
  height: 300px;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.drumpad__pad {
  padding: 5px;
  color: #776e65;

  border: 6px outset #949292;

  transition: 0.2s all ease;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  background-color: #bab8b8;
  width: 80px;
  height: 80px;
}

.drumpad__brand {
  color: #bfbfbf;
  font-size: 16px;
}

.clicked {
  background-color: #c46127;
  box-shadow: 0 0 30px 5px #ca6c36;
  border: 8px outset #925812;
  color: #696058;
}

.drumpad__board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.drumpad__controls {
  width: 122px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: #636363;
  font-size: 11px;
  border-left: 2px groove #6c6a6a;
    padding-left: 10px;
}

/* .drumpad__volume {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #bab8b8;
  border: 3px outset #66635d;;
} */

